@model Trabajo_Final.Models.Contacto;
<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Contactanos</h2>
        <h3 class="section-subheading text-muted">Estamos interesados en escucharte.</h3>
    </div>
    <form method="post" asp-controller="Contacto" asp-action="Create" id="contactForm">
        <div class="row align-items-stretch mb-5">
            <div class="col-md-6">
                <div class="form-group">
                    <!-- Name input-->
                    <input asp-for="Nombre" class="form-control" id="name" type="text" placeholder="Tu Nombre *"
                        data-sb-validations="required" required />
                </div>
                <div class="form-group">
                    <!-- Email address input-->
                    <input asp-for="Email" class="form-control" id="email" type="email" placeholder="Tu Email *"
                        data-sb-validations="required,email" required />
                </div>
                <div class="form-group mb-md-0">
                    <!-- Phone number input-->
                    <input asp-for="Numero" class="form-control" id="phone" type="tel" placeholder="Tu Telefono *"
                        pattern="[0-9]{9}" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-group-textarea mb-md-0">
                    <!-- Message input-->
                    <textarea asp-for="Message" class="form-control" id="message" placeholder="Tu Mensaje *"
                        required></textarea>
                </div>
            </div>
        </div>
        <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton"
                type="submit">ENVIAR Mensaje</button></div>
    </form>
</div>
