@model Trabajo_Final.Models.Carrito;
@{
    ViewData["Title"] = "Carrito";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Carrito"]</title>

    <!-- Bootstrap icons-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="~/css/Carrito/site.css" asp-append-version="true" />

    <style>
        body {
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
            margin: 0;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 110px;
            /* Espacio entre encabezado y contenido */
            margin-bottom: 150px;
            /* Espacio entre contenido y pie de página */
        }

        h2 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 30px;
        }

        .button-container {
            display: flex;
            gap: 10px;
        }

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .start-shopping {
            background-color: #2b47c2;
            color: white;
        }

        .sign-in {
            background-color: #c9bd13;
            color: white;
        }

        .footer {
            background-color: black;
            color: white;
            padding: 20px;
            text-align: center;
        }

        .nav-link.active {
            background-color: #007bff;
            /* Color azul para el estado activo */
            color: white;
        }
    </style>
</head>

<body>
    <!-- Contenido centrado -->
    <div class="content">
        <h2>No tienes ningun articulo en tu carrito.</h2>
        <p>Ya creaste tu cuenta? Ingresa y observa tus articulos comprados</p>
        <div class="button-container">
            <button class="start-shopping" onclick="window.location.href='/Catalogo/Index'">Comienza a Comprar</button>
            <button class="sign-in" onclick="window.location.href='/Login/Index'">Ingresa</button>
        </div>
    </div>

    <!-- Pie de página 
    <footer class="footer">
        <p>Contacto: 999-896-854 | lun-vie: 8:30 hrs. - 19:00 hrs.</p>
        <p>Email: atencionalcliente@infocom.com</p>
        <p>© Infocom Technology 2024</p>
    </footer>-->
</body>
