@{
    ViewData["Title"] = "Confirmación de Pago Correctamente Realizada";
}

<div class="container">
    <h2>Pago Procesado con Éxito</h2>
    <p>Gracias por tu compra estimado cliente. Tu pago ha sido procesado correctamente.</p>
    <a href="/Catalogo/Index" class="btn btn-primary">Volver al Catálogo</a>
</div>