@model Trabajo_Final.Models.Cliente
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Register - MagtimusPro</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="~/css/Login/estilos.css">
</head>

<body>

    <main>

        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h2>¿Ya tienes una cuenta?</h2>
                    <h3>Inicia sesión para entrar en la página</h3>
                    <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                </div>
                <div class="caja__trasera-register">
                    <h2>¿Aún no tienes una cuenta?</h2>
                    <h3>Regístrate para que puedas iniciar sesión</h3>
                    <button id="btn__registrarse">Regístrarse</button>
                </div>
            </div>

            <!--Formulario de Login y registro-->
            <div class="contenedor__login-register">
                <!--Login-->
                <form asp-controller="Login" asp-action="Ingresar" method="post" class="formulario__login">
                    <h2>Iniciar Sesión</h2>
                    <input asp-for="Email" type="text" placeholder="Correo Electronico">
                    <input asp-for="Contrasena" type="password" placeholder="Contraseña">
                    <button type="submit">Ingresar</button>
                </form>

                <!--Register-->
                <form asp-controller="Login" asp-action="Registrar" method="post" class="formulario__register">
                    <h2>Regístrarse</h2>
                    <input asp-for="Nombre" type="text" placeholder="Nombre">

                    <input asp-for="Apellidos" type="text" placeholder="Apellidos">

                    <input asp-for="DNI" type="text" placeholder="DNI">

                    <input asp-for="FechaNacimiento" class="form-control" required placeholder="Fecha de Nacimiento">

                    <input asp-for="Email" type="text" placeholder="Correo Electronico">

                    <input asp-for="Contrasena" type="password" placeholder="Contraseña">

                    <button type="submit">Registrar</button>
                </form>
            </div>
        </div>

    </main>

    <script src="~/js/Login/script.js"></script>
</body>


</html>