@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Lo sentimos, no tienes permiso para acceder a este recurso. Si crees que esto es un error, por favor contacta al administrador.</p>
</header>
